
 <!-- Nav Bar -->
 <div class = navbar>
    <div class = web-title>
        <!-- <h1>{{title}}</h1> -->
         <img class="logo" [src]="logoPath" />
     </div>
    <div class = nav-links>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
    <div class="auth-buttons">
        <!-- Drop Down for Language Selection-->
        <!-- <div class="dropdown">
            <button class="dropbtn">Language</button>
            <div class="dropdown-content">
                <a href="#">English</a>
                <a href="#">Spanish</a>
                <a href="#">French</a>
            </div> -->
        <!-- button for sing up-->
       <button>Sign Up</button>

    </div>
</div>
<!-- End of Nav Bar -->