.main-container {
    display: flex;
    justify-content: space-between; /* Adjusted for spacing between text and image */
    align-items: center; /* Center items vertically */
    height: 90vh; /* Full viewport height */
}

.cover-image {
    height: 80%;
    width: 50%;
    object-fit: a;
}

.text-container {
    color: white; /* Apply text color directly to the container */
    font-size: 1rem; /* Base font size */
    
    padding-right: 15%; /* Add some padding */
    padding-left: 5%;

}

h1 {
    font-size: 4.5rem; /* Larger font size for h1 */
    font-weight: bold;
    color: white; /* Corrected selector */
}

p {
    color: #808080;
    font-size: 1rem; /* Adjusted font size */
    font-weight: lighter;
    margin-top: 20px; /* Space between h1 and p */
}
